body{
        background-color:  #F1F1FF;
}

.welcome h1{
    position: relative;
    color: red;
    margin: 10px auto;
    text-align: center;
}

.welcome p{
    color: blue;    
}

.contenedor{
    margin: 10px 100px;
    padding: 10px 0px;
    background-color: #DDDDDD;
}

.article{
    margin: 2px 20px 20px;
    padding: 1px 10px;
    color: #555555;
    background-color: #F8F8FF;
}
